<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>出荷終了分</title>
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>
<body>
	<h3 class="subTitle">出荷終了分</h3>
	<form id="shippingSetForm">
	<span id="allMessage"/>
		<table id="shippingSetGrid">
			<thead>
				<tr>
					<th>ID</th>
					<th>出荷日</th>
					<th>顧客名</th>
					<th>注文ID</th>
					<th>注文日</th>
					<th>注文商品</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="50">
						<span id="shippingId">1</span>
					</td>
					<td width="150">
						<span id="shippingDate">yyyy/mm/dd</span>
					</td>
					<td width="100">
						<span id="customerName">hogehoge</span>
					</td>
					<td width="100">
						<span id="orderTitleId">1</span>
					</td>
					<td width="150">
						<span id="orderDate">1</span>
					</td>
					<td width="200">
						<span id="itemName">1</span>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>
