<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>出荷作業中</title>
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>
<body>
	<h3 class="subTitle">注文処理中</h3>
	<form id="orderInfoForm">
	<span id="allMessage"/>
		<table id="orderInfoGrid">
			<thead>
				<tr>
					<th>ID</th>
					<th>注文日</th>
					<th>顧客名</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="50">
						<span id="orderTitleId">1</span>
					</td>
					<td width="150">
						<span id="orderDate">yyyy/mm/dd</span>
					</td>
					<td width="100">
						<span id="customerName">hogehoge</span>
					</td>
					<td width="100">
						<span id="status">0</span>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>
