<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>注文確認</title>
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>
<body>
	<h3 class="subTitle">注文処理 → 顧客選択 → 商品選択→ 注文確認</h3>
	<h4>注文内容を確認して注文ボタンをクリックして下さい。</h4>
	<form id="orderForm">
		<span id="allMessage"/>
		<h3>顧客名：<span id="customerName">hogehoge</span></h3>
		<br/>
		<table>
			<tr>
				<th>商品名</th>
				<th>価格</th>
			</tr>
			<div id="orderItems">
				<tr>
					<td width="200" align="left">
						<span id="itemName">hogehoge</span>
					</td>
					<td width="120" align="left">
						<span id="price">19800</span>
					</td>
				</tr>
			</div>
		</table>
		<br/>
		<input id="doOrder" type="submit" value="注文" />
	</form>
</body>
</html>
