<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>出荷詳細終了分</title>
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>
<body>
	<h3 class="subTitle">出荷作業完了(商品準備)</h3>
	<table id="shippingItemGrid">
		<thead>
			<tr>
				<th>ID</th>
				<th>注文詳細ID</th>
				<th>出荷ID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
					<td width="50">
						<span id="shippingItemIndex">1</span>
					</td>
					<td width="100">
						<span id="orderDetailId">1</span>
					</td>
					<td width="100">
						<span id="shippingId">1</span>
					</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
