<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>出荷詳細</title>
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>
<body>
<script type="text/javascript">
function setIndex(name) {
  var hidden = name.substring(0, name.lastIndexOf(':'));
  //var f = document.shippingItemForm;
  var f = document.getElementById('shippingItemForm');
  f.clickShippingItemId.value = f[hidden + ':shippingItemId'].value;
  alert("出荷詳細ID:=" + f.clickShippingItemId.value);
}
</script>
	<h3 class="subTitle">出荷作業中(商品準備中)</h3>
	<form id="shippingItemForm">
	<span id="allMessage"/>
	<input type="hidden" id="clickShippingItemId"/>
		<table id="shippingItemGrid">
			<thead>
				<tr>
					<th>ID</th>
					<th>注文詳細ID</th>
					<th>出荷ID</th>
					<th>出荷詳細ID</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="50">
						<span id="shippingItemIndex">1</span>
					</td>
					<td width="100">
						<span id="orderDetailId">1</span>
					</td>
					<td width="100">
						<span id="shippingId">1</span>
					</td>
					<td width="100">
						<span id="shippingItemId">1</span>
					</td>
					<td>
						<input type="submit" id="doEndShippingSelect" value="出荷準備完了" onclick="setIndex(this.name)"/>
					</td>
					<td><input type="hidden" id="shippingItemId"/></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>
