<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>ぶりサンプルメニュー(OrderBao.xpdl)</title>
</head>
<body>
	<h4>Index</h4>
	<ul>
		<li><a href="../index/index.html">TOP</a></li>
	</ul>
	<h4>注文処理(OrderBao)</h4>
	<ul>
		<li><a href="../customer/customerSelect.html">order</a></li>
	</ul>
	<h4>注文(OrderBao)</h4>
	<ul>
		<li>
			<a href="../order/getUnderWork.html">getUnderWork</a>
		</li>
		<li>
			<a href="../order/getEndShipping.html">getEndShipping</a>
		</li>
		<li>
			<a href="../order/getOrderEnd.html">getOrderEnd</a>
		</li>
	</ul>
	<h4>出荷(ShippingBao)</h4>
	<ul>
		<li>
			<a href="../shipping/getNowWating.html">getNowWating</a>
		</li>
		<li>
			<a href="../shipping/getEndShipping.html">getEndShipping</a>
		</li>
	</ul>
	<h4>出荷詳細(ShippingItem)</h4>
	<ul>
		<li>
			<a href="../shippingItem/getItemWating.html">getItemWating</a>
		</li>
		<li>
			<a href="../shippingItem/getEndShipping.html">getEndShipping</a>
		</li>
	</ul>
	<h4>請求(BillBao)</h4>
	<ul>
		<li>
			<a href="../bill/getBillWating.html">getBillWating</a>
		</li>
		<li>
			<a href="../bill/getReBill.html">getReBill</a>
		</li>
		<li>
			<a href="../bill/getEndBill.html">getEndBill</a>
		</li>
	</ul>
	<br/>
</body>
</html>
