<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title id="title">再請求準備分</title>
</head>
<body>
<script type="text/javascript">
function setIndex(name) {
  var hidden = name.substring(0, name.lastIndexOf(':'));
  //var f = document.billForm;
  var f = document.getElementById('billForm');
  f.clickBillId.value = f[hidden + ':billId'].value;
  alert("請求ID:=" + f.clickBillId.value)
}
</script>
	<h3 class="subTitle">再請求準備分</h3>
	<form id="billForm">
	<span id="allMessage"/>
	<input type="hidden" id="clickBillId"/>
		<table id="billGrid">
			<thead>
				<tr>
					<th>ID</th>
					<th>請求日</th>
					<th>出荷ID</th>
					<th>注文ID</th>
					<th>顧客ID</th>
					<th>請求ID</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="50">
						<span id="billId">1</span>
					</td>
					<td width="150">
						<span id="billDate">yyyy/mm/dd</span>
					</td>
					<td width="100">
						<span id="shippingID">1</span>
					</td>
					<td width="100">
						<span id="orderTitleID">1</span>
					</td>
					<td width="100">
						<span id="customerID">1</span>
					</td>
					<td width="100">
						<span id="billId">1</span>
					</td>
					<td>
						<input type="submit" id="doCheckPayment" value="請求完了" onclick="setIndex(this.name)"/>
					</td>
					<td>
						<input type="hidden" id="billId"/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>
